@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
  scroll-behavior: smooth;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Poppins';
  color: white;
  font-weight: normal;
  overflow-x: hidden;
}
